<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.boopit.boopapp" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="me.boopit.boopapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="me.boopit.boopapp.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="me.boopit.boopapp" />
            </intent-filter>
        </receiver>
        <service android:name=".GcmIntentService" />
        <activity
            android:name="me.boopit.boopapp.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.BoopSetUpTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.boopit.boopapp.SetupFirstDevice"
            android:label="@string/title_activity_setup_first_device"
            android:theme="@style/Theme.BoopSetUpTheme" >
        </activity>
        <activity
            android:name="me.boopit.boopapp.SetupExistingGroup"
            android:label="@string/title_activity_setup_existing_group"
            android:theme="@style/Theme.BoopSetUpTheme" >
        </activity>
        <activity
            android:name="me.boopit.boopapp.HandleQRScan"
            android:label="@string/title_activity_setup_existing_group"
            android:theme="@style/Theme.BoopSetUpTheme" >
        </activity>
        <activity
            android:name="me.boopit.boopapp.DeviceRegistered"
            android:label="@string/title_activity_device_registered"
            android:theme="@style/Theme.BoopSetUpTheme" >
        </activity>
        <activity
            android:name="me.boopit.boopapp.BoopMainApp"
            android:label="@string/title_activity_boop_main_app"
            android:theme="@style/Theme.BoopMainTheme">
        </activity>
    </application>

</manifest>
